:root{
    --primary-color: #162842;
    --secondary-color: #007bff;
    --dark-color: #292929;
    --white-color: #e7e7e7;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
}

footer{
    padding-right: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: .9;
    color: var(--secondary-color);
}

.bsicon {
    color: #553C7B;
}

.jsicon {
    color: #f7df1e;
    
}

.html5icon {
    color: #F06529;
}

.cssicon {
    color: #2965f1;
}

.checklist > li i {
    color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.main-font {
    font-family: 'Racing Sans One', cursive;
}

.secondary-font {
    font-family: 'Roboto Mono', monospace;
}
